h1{
    text-align: center;
}

h3{
    text-align: center;
}

#start, #StartTournament{
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.weightClass{
    display: block;
    margin-bottom: 10px;
}

.weight{
    margin-right: 10px;
}

#addWeightClass{
    margin-bottom: 20px;
}

#page-2, #main{
    text-align: center;
    margin: 50px auto;
    width: fit-content;
}

.hiddenDiv{
    display: none;
}

.showDiv{
    display: block;
}

#back{
    position: absolute;
    top: 40px;
    left: 40px;
}